---
import Post from "@/layout/Post.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();

// import fs from "fs"
// import path from "path"

// const audioPath = `public/audio/${post.slug}.mp3`
// const hasAudio = fs.existsSync(audioPath)
---

<Post
	backUrl="/posts"
	post={post.data}
	title={post.data.title}
	description={post.data.description}
>
	<main><Content /></main>
</Post>
