---
import Article from "@/components/blocks/Article.astro"
import Tags from "@/components/Tags.astro"
import Layout from "@/layout/Layout.astro"
import { getAllPosts } from "@/lib/getPosts"
import getTaxonomy from "@/lib/getTaxonomy"
import taxonomyFilter from "@/lib/taxonomyFilter"
import { slugify, slugifyReverse } from "@/lib/utils"

export async function getStaticPaths() {
	const categories = await getTaxonomy("posts", "tags")

	return categories.map(tag => {
		return {
			params: { tag: slugify(tag) },
		}
	})
}

const { tag } = Astro.params
const posts = await getAllPosts("posts")
const filterByTags = taxonomyFilter(posts, "tags", tag)
---

<Layout
	data-pagefind-ignore
	title={`Архив: ${slugifyReverse(tag)}`}
	desc="Статьи АИЗ. Полезная информация, методы шагов, инструменты"
>
	<Tags />

	<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
		{
			filterByTags &&
				filterByTags
					.sort(
						(a, b) =>
							new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
					)
					.map(post => <Article slug={post.slug} data={post.data} />)
		}
	</div>
</Layout>
