---
import Layout from "@/layout/Layout.astro"
---

<Layout
	data-pagefind-ignore="all"
	title="Такой страницы нет."
	desc="Такой страницы нет, либо она в разработке..."
>
	<div class="container" style="margin-top: 40px;">
		<h1 class="text-2xl text-center text-red-400">
			Такой страницы нет, либо она в разработке...
		</h1>
	</div>
</Layout>
