---
import Layout from "@/layout/Layout.astro";
---

<Layout title="Контакты" desc="Для связи с сообществом АИЗ">
  <section class="max-w-[880px] mx-auto flex flex-col gap-10 text-zinc-800">
    <nav class="flex flex-col gap-6 md:gap-8">
      
      <header class="text-2xl font-bold text-center md:text-left">
        Контакты  
      </header>
      
      <p class="text-xl leading-relaxed font-regular text-center md:text-left">
        Мы всегда рады слышать Вас. Пожалуйста, не стесняйтесь обращаться к нам с любыми вопросами или мыслями.
      </p>

      <p class="text-xl leading-relaxed font-regular">
        Вы можете написать нам в <a href="https://t.me/aiz_itta" class="underline underline-offset-4">общем чате для общения АИЗ</a> в Телеграм. Мы с нетерпением ждем вашего сообщения.
      </p>
      
      <h2 class="text-xl font-semibold mt-8">Наши друзья</h2>
      
      <ul class="list-disc pl-5 text-xl leading-relaxed font-regular">
        <li>
          АП (Анонимные Прокрастинаторы): это двенадцатишаговое сообщество людей, которые поддерживают друг друга в выздоровлении от прокрастинации.
          <div class="mt-2">
            <a href="https://ap-12steps.pages.dev/" class="underline underline-offset-4">Официальный сайт АП</a> |
            <a href="https://t.me/community_pa" class="underline underline-offset-4">Главный чат АП</a>
          </div>
        </li>
      </ul>

    </nav>
  </section>
</Layout>
