---
import Title from "../components/blocks/Title.astro";
import Layout from "../layout/Layout.astro";

const links = [
  {
    name: "Кто такие АИЗ?",
    link: "https://internetaddicts.ru/posts/kto-takie-aiz/",
  },
  {
    name: "Кто такой наставник в АИЗ?",
    link: "https://internetaddicts.ru/posts/kto-takoj-sponsor-nastavnik-v-anonimnyh-internet-zavisimyh/",
  },
  {
    name: "Что дают нам шаги? Принципы шагов.",
    link: "https://internetaddicts.ru/posts/princzipy-12-shagov-v-nashih-delah/",
  },
  {
    name: "Инструменты для полноценной жизни",
    link: "https://internetaddicts.ru/posts/instrumenty-dlya-polnoczennoj-zhizni/",
  },
];
---

<Layout
  title="Анонимные Интернет-Зависимые"
  desc="Это сообщество людей, которые поддерживают друг друга в преодолении проблем, вызванных одержимым использованием интернета и технических устройств."
>
  <Title />
  <section class="max-w-[880px] mx-auto flex flex-col gap-10 text-zinc-800">
    <nav class="flex justify-between items-center flex-wrap gap-2 md:gap-3">
      <p class="text-xl leading-relaxed font-regular">
        Мы рады, что вы нашли нас, и надеемся, что наше сообщество окажется для
        вас полезным, как и для нас. <b>АИЗ</b> - это двенадцатишаговое сообщество
        людей, которые поддерживают друг друга в выздоровлении от залипания в интернете.
      </p>
      <p class="text-xl leading-relaxed font-regular">
        К ним относятся зависимость от <b>социальных сетей</b>, <b>смартфонов</b
        >, <b>коротких видео</b>, <b>аудиоконтента</b>, новостей или любой
        другой деятельности в цифровом мире, которая становится проблемной в
        жизни.
      </p>
      <p class="text-xl leading-relaxed font-regular mb-10">
        <b>Присоединиться к нам может каждый</b>, независимо от возраста, пола,
        национальности, убеждений, ментальных состояний, диагнозов и религиозных
        взглядов.
      </p>

      <div class="flex gap-6 flex-wrap">
        <nav class="flex flex-col gap-3">
          {
            links &&
              links.map(item => (
                <a
                  href={item.link}
                  class="text-blue-500 underline underline-offset-4 font-medium"
                >
                  {item.name}
                </a>
              ))
          }
        </nav>
      </div>
    </nav>
  </section>
</Layout>
