---
import { getCollection } from "astro:content";
import Layout from "../layout/Layout.astro";

const news = await getCollection("news");
---

<Layout title="Новости" desc="Новости сообщества АИЗ">
    <div class="container">
        {news &&
            news
                .sort(
                    (a, b) =>
                        new Date(b.data.pubDate).getTime() -
                        new Date(a.data.pubDate).getTime(),
                )
                .map((post) => (
                    <a href={`/news/${post.slug}`} class="hover-top">
                        <article class="bg-white p-5 rounded-2xl prose max-w-none">
                            <h3>{post.data.title}</h3>
                            <p class="line-clamp-2 text-gray-500">
                                {post.data.description}
                            </p>
                            {post.data.pubDate && (
                                <time
                                    datetime={post.data.pubDate}
                                    style="font-size: 0.875rem;"
                                    class="line-clamp-2 text-gray-500"
                                >
                                    {new Date(post.data.pubDate).toLocaleDateString(
                                        "ru-RU",
                                        {
                                            year: "numeric",
                                            month: "numeric",
                                            day: "numeric",
                                        },
                                    )}
                                </time>
                            )}
                        </article>
                    </a>
                ))}
    </div>
</Layout>
