---
import PageLayout from '../../layout/PageLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const pages = await getCollection('news')
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }))
} 

const page = Astro.props
const { Content } = await page.render()
---
<PageLayout title={page.data.title} desc={page.data.description}>
  <main class="prose lg:prose-lg md:prose-md xl:prose-xl ">
    <Content />
  </main>
</PageLayout>