---

---

<a href="/" title="Главная" class="md:hidden">
	<svg
		width="45"
		height="45"
		viewBox="0 0 45 45"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<circle cx="22.5" cy="22.5" r="22.5" fill="url(#paint0_linear_2569_467-729108)"
		></circle>
		<path
			d="M9.48766 27.75H6.67758L10.7913 17.4946H13.4565L17.5268 27.75H14.7022L14.1953 26.3015H10.0091L9.48766 27.75ZM13.3696 23.9405L12.1239 20.4206L10.8348 23.9405H13.3696ZM21.0504 23.2307L25.5697 17.4946H27.6266V27.75H25.0048V22.1153L20.4855 27.75H18.4286V17.4946H21.0504V23.2307ZM31.4297 24.1577C31.4876 24.3991 31.5842 24.6019 31.7194 24.7661C31.8642 24.9206 32.0284 25.0461 32.2119 25.1427C32.405 25.2296 32.6174 25.2924 32.8492 25.331C33.0906 25.3696 33.3417 25.3889 33.6024 25.3889C33.8245 25.3889 34.037 25.3745 34.2398 25.3455C34.4522 25.3165 34.6357 25.2682 34.7902 25.2006C34.9543 25.1234 35.0847 25.022 35.1813 24.8965C35.2778 24.7709 35.3261 24.6116 35.3261 24.4185C35.3261 24.2543 35.2827 24.1191 35.1958 24.0129C35.1185 23.9067 35.0123 23.8246 34.8771 23.7666C34.7419 23.699 34.5874 23.6556 34.4136 23.6363C34.2398 23.6073 34.0659 23.5928 33.8921 23.5928H32.2843V21.4635H33.6169C34.0128 21.4635 34.3363 21.4008 34.5874 21.2752C34.8385 21.14 34.964 20.9131 34.964 20.5944C34.9543 20.4399 34.9012 20.3144 34.8047 20.2178C34.7178 20.1116 34.6019 20.0295 34.457 19.9716C34.3218 19.904 34.1673 19.8605 33.9935 19.8412C33.8197 19.8122 33.6459 19.7978 33.4721 19.7978C32.9506 19.7978 32.5305 19.8847 32.2119 20.0585C31.9028 20.2323 31.7242 20.5075 31.6759 20.8841H29.17C29.199 20.2371 29.339 19.6915 29.5901 19.2473C29.8412 18.7935 30.1647 18.4313 30.5606 18.1609C30.9662 17.8809 31.4248 17.6781 31.9366 17.5526C32.4581 17.427 32.9989 17.3643 33.559 17.3643C33.9935 17.3643 34.4184 17.3981 34.8336 17.4657C35.2489 17.5236 35.6593 17.6588 36.0649 17.8713C36.4801 18.0934 36.8326 18.4024 37.1223 18.7983C37.4216 19.1846 37.5713 19.6529 37.5713 20.2033C37.5713 20.6668 37.4892 21.0483 37.3251 21.3476C37.1705 21.6373 36.9388 21.9077 36.6298 22.1588C37.1416 22.3809 37.4989 22.7237 37.7017 23.1872C37.9045 23.6411 37.9865 24.1336 37.9479 24.6647C37.9479 24.993 37.8948 25.2972 37.7886 25.5773C37.692 25.8476 37.5616 26.0939 37.3975 26.316C37.243 26.5381 37.0643 26.7361 36.8615 26.9099C36.6684 27.074 36.4656 27.2141 36.2532 27.3299C35.7703 27.5617 35.3116 27.7065 34.8771 27.7645C34.4522 27.8321 34.008 27.8659 33.5445 27.8659C32.9458 27.8659 32.3809 27.7983 31.8497 27.6631C31.3186 27.5279 30.8454 27.3155 30.4302 27.0258C30.015 26.7264 29.677 26.345 29.4163 25.8814C29.1555 25.4083 28.9962 24.8337 28.9383 24.1577H31.4297Z"
			fill="white"></path>
		<defs>
			<linearGradient
				id="paint0_linear_2569_467-729108"
				x1="22.5"
				y1="0"
				x2="22.5"
				y2="45"
				gradientUnits="userSpaceOnUse"
			>
				<stop stop-color="#94FFCB"></stop>
				<stop offset="1" stop-color="#48D79B"></stop>
			</linearGradient>
		</defs>
	</svg>
</a>
