---
const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, "")
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	@reference "tailwindcss";
	a {
		@apply text-sm bg-white rounded-lg px-2 py-1.5 text-zinc-600 shadow-2xs;
	}
	a.active {
		@apply text-sm bg-green-50 text-green-600 rounded-lg px-2 py-1.5 ring-1 ring-green-400/50;
	}
</style>
