---

---

<div class="text-center flex flex-col gap-4 items-center">
	<h1 class="tracking-tight font-black text-4xl xl:text-6xl text-stone-900">
		Анонимные Интернет-Зависимые
	</h1>
	<p class="text-xl md:text-2xl font-light text-stone-900">
		от устройств, цифровых технологий и потребления любого контента.
	</p>
</div>
