---

---

<div class="text-center flex flex-col gap-4 items-center">
	<h1
		class="tracking-tight font-black text-4xl xl:text-6xl bg-clip-text text-transparent bg-gradient-to-b from-zinc-500 to-zinc-600"
	>
		Анонимные Интернет-Зависимые
	</h1>
	<p class="text-xl md:text-2xl font-light text-green-900">
		от устройств, цифровых технологий и потребления любого контента.
	</p>
</div>
