---
import Post from "@/layout/Post.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("speakers");
	return posts.map(post => ({
		params: { slug: post.slug },
		props: post,
	}));
}

import { YouTube } from "@astro-community/astro-embed-youtube";
const post = Astro.props;
const { Content } = await post.render();
---

<Post title={post.data.title}>
	<aside class="mx-auto max-w-[780px] mb-10">
		<a
			href="/speakers"
			class="text-lg md:ml-10 ml-5 bg-white font-medium rounded-lg py-2 px-3"
			>&#8592; {/* ← Левая стрелка */} Назад к спикерским</a
		>
	</aside>
	<main class="prose-aiz">
		<YouTube id={post.data.idYB} />
		<h1 class="mt-5">{post.data.title}</h1>
		<p>{post.data.desc}</p>
		<Content />
	</main>
</Post>
