/*
Значения отступов 
стандартизированы в дизайн-системе. 
Это не целые числа от 0 до бесконечности, 
а числа с определённым шагом: 
2, 4, 6, 8, 10, 12, 16, 20, 24, … 48, 56, 64.
*/

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  user-select: none;
}
ul:where(body),
ol:where(body),
li:where(body) {
  list-style: none;
}

img {
  vertical-align: top;
}

/* Стиль ссылки по умолчанию */
nav a {
  position: relative; /* Для позиционирования подчеркивания */
  text-decoration: none; /* Убираем стандартное подчеркивание текста */
  color: #000; /* Основной цвет текста */
}

a:hover {
  color: #01c976ef; /* Цвет текста при наведении (зелёный) */
}

/* Псевдоэлемент для подчеркивания */
nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #01c976ef;
  bottom: -2px;
  left: 0;
  transform: scaleX(0); /* Изначально подчеркивание скрыто */
}

/* Показать подчеркивание для активной ссылки */
nav a.active::after {
  transform: scaleX(1); /* Показать подчеркивание */
}

p {
  hyphens: none;
  /* text-align: justify;  */
}

q {
  quotes: '«' '»';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
